{% extends 'base.html.twig' %}

{% block title %}Inquiry index{% endblock %}

{% block body %}
    <h1>Inquiry index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Contact</th>
                <th>Status</th>
                <th>Department</th>
                <th>Agent</th>
                <th>Notes</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inquiry in inquiries %}
            <tr>
                <td>{{ inquiry.id }}</td>
                <td>{{ inquiry.category }}</td>
                <td>{{ inquiry.contact }}</td>
                <td>{{ inquiry.status }}</td>
                <td>{{ inquiry.department }}</td>
                <td>{{ inquiry.agent }}</td>
                <td>{{ inquiry.notes }}</td>
                <td>{{ inquiry.createdAt ? inquiry.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ inquiry.updatedAt ? inquiry.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_inquiry_show', {'id': inquiry.id}) }}">show</a>
                    <a href="{{ path('app_inquiry_edit', {'id': inquiry.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_inquiry_new') }}">Create new</a>
{% endblock %}
