{% extends 'base.html.twig' %}

{% block title %}Inquiry{% endblock %}

{% block body %}
<h1>Inquiry</h1>

<div style="display:grid;grid-auto-flow:column;">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inquiry.id }}</td>
            </tr>
            <tr>
                <th>categoryId</th>
                <td>{{ inquiry.category }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ inquiry.contact }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ inquiry.status }}</td>
            </tr>
            <tr>
                <th>Department</th>
                <td>{{ inquiry.department }}</td>
            </tr>
            <tr>
                <th>Agent</th>
                <td>{{ inquiry.agent }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ inquiry.notes }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ inquiry.createdAt ? inquiry.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ inquiry.updatedAt ? inquiry.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <div>
    <table>
        <thead>
            <tr>
                <th colspan="99">Messages</th>
            </tr>
            <tr>
                <th>date</th>
                <th>sender</th>
                <th>subject</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {%for message in inquiry.messages %}
                    <td>
                        {{ message.contact }}
                    </td>
                    <td>
                        {{ message.subject }}
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>本文を表示するメール<select id="selected_message">
                    {% for message in inquiry.messages %}
                        <option value="{{ message.id }}">{{ message.subject }}</option>
                    {% endfor %}
                </select></th>
            </tr>
            <tr>
                <th>(subject)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <pre id="messge_body">(body)</pre>
                    <script>
                        const messages = ({{ inquiry.messages|map(m=>([m.id,m.body]))|json_encode|raw }}).reduce((acc, curr)=>({...acc,[curr[0]]:curr[1]}, {}));
                        document.getElementById('selected_message').addEventListener('change', function(){
                            const selected_message = document.getElementById('selected_message').value;
                            const message_body = document.getElementById('messge_body');
                            message_body.innerHTML = messages[selected_message];
                        });
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<a href="{{ path('app_inquiry_index') }}">back to list</a>

<a href="{{ path('app_inquiry_edit', {'id': inquiry.id}) }}">edit</a>

{{ include('inquiry/_delete_form.html.twig') }}
{% endblock %}
