{% extends 'base.html.twig' %}

{% block title %}Inquiry{% endblock %}

{% block body %}
    <h1>Inquiry</h1>

        <div style="display:grid;grid-auto-flow:column;">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inquiry.id }}</td>
            </tr>
            <tr>
                <th>categoryId</th>
                <td>{{ inquiry.category }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ inquiry.contact }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ inquiry.status }}</td>
            </tr>
            <tr>
                <th>Department</th>
                <td>{{ inquiry.department }}</td>
            </tr>
            <tr>
                <th>Agent</th>
                <td>{{ inquiry.agent }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ inquiry.notes }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ inquiry.createdAt ? inquiry.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ inquiry.updatedAt ? inquiry.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><pre>{{ inquiry.messages|join(', ') }}</pre></td>
            </tr>
        </tbody>
    </table>
</div>
    <a href="{{ path('app_inquiry_index') }}">back to list</a>

    <a href="{{ path('app_inquiry_edit', {'id': inquiry.id}) }}">edit</a>

    {{ include('inquiry/_delete_form.html.twig') }}
{% endblock %}
